@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e1e1e1;
  text-align: center;
  font-family: monospace, sans-serif;
}

#app {
  margin-top: 100px;
}
